[submodule "modules/nyan-mode"]
	path = modules/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "modules/git-modes"]
       path = modules/git-modes
       url = https://github.com/magit/git-modes.git

[submodule "modules/markdown-mode"]
	path = modules/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "modules/less-css-mode"]
	path = modules/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule "modules/gist"]
	path = modules/gist
	url = https://github.com/defunkt/gist.el.git
[submodule "modules/gh"]
	path = modules/gh
	url = https://github.com/sigma/gh.el.git
[submodule "modules/multiple-cursors.el"]
	path = modules/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "modules/smartrep.el"]
	path = modules/smartrep.el
	url = https://github.com/myuhe/smartrep.el.git
[submodule "modules/expand-region.el"]
	path = modules/expand-region.el
	url = https://github.com/magnars/expand-region.el.git
[submodule "modules/auto-highlight-symbol"]
	path = modules/auto-highlight-symbol
	url = https://github.com/emacsmirror/auto-highlight-symbol.git
[submodule "modules/highlight-symbol.el"]
	path = modules/highlight-symbol.el
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "modules/helm"]
	path = modules/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "modules/git-gutter"]
	path = modules/git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "modules/helm-ag"]
	path = modules/helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "modules/popup"]
	path = modules/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "modules/rainbow-delimiters"]
	path = modules/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters
[submodule "modules/pcache"]
	path = modules/pcache
	url = https://github.com/sigma/pcache
[submodule "modules/logito"]
	path = modules/logito
	url = https://github.com/sigma/logito
[submodule "modules/flycheck"]
	path = modules/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "modules/s"]
	path = modules/s
	url = https://github.com/magnars/s.el.git
[submodule "modules/dash"]
	path = modules/dash
	url = https://github.com/magnars/dash.el.git
[submodule "modules/f"]
	path = modules/f
	url = https://github.com/rejeep/f.el.git
[submodule "modules/undo-tree"]
	path = modules/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "modules/yaml-mode"]
	path = modules/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "modules/powerline"]
	path = modules/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "modules/solarized"]
	path = modules/solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "modules/trr"]
	path = modules/trr
	url = https://github.com/kawabata/emacs-trr.git
[submodule "modules/magit"]
	path = modules/magit
	url = https://github.com/magit/magit.git
[submodule "modules/twittering-mode"]
	path = modules/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "modules/sublimity"]
	path = modules/sublimity
	url = https://github.com/zk-phi/sublimity.git
[submodule "modules/indent-guide"]
	path = modules/indent-guide
	url = https://github.com/zk-phi/indent-guide.git
[submodule "modules/volatile-highlights"]
	path = modules/volatile-highlights
	url = https://github.com/k-talo/volatile-highlights.el.git
[submodule "modules/anzu"]
	path = modules/anzu
	url = https://github.com/syohex/emacs-anzu.git
[submodule "modules/yascroll"]
	path = modules/yascroll
	url = https://github.com/m2ym/yascroll-el.git
[submodule "modules/emoji-cheat-sheet"]
	path = modules/emoji-cheat-sheet
	url = https://github.com/ShingoFukuyama/emacs-emoji-cheat-sheet
[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "modules/helm-c-yasnippet"]
	path = modules/helm-c-yasnippet
	url = https://github.com/emacs-helm/helm-c-yasnippet.git
[submodule "modules/c-eldoc"]
	path = modules/c-eldoc
	url = https://github.com/mooz/c-eldoc.git
[submodule "modules/emacs-deferred"]
	path = modules/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "modules/wakatime-mode"]
	path = modules/wakatime-mode
	url = https://github.com/wakatime/wakatime-mode.git
[submodule "modules/graphviz-dot-mode"]
	path = modules/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "modules/direx-el"]
	path = modules/direx-el
	url = https://github.com/m2ym/direx-el.git
[submodule "modules/popwin-el"]
	path = modules/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule "modules/dockerfile-mode"]
	path = modules/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "modules/helm-swoop"]
	path = modules/helm-swoop
	url = https://github.com/ShingoFukuyama/helm-swoop.git
[submodule "modules/foreign-regexp"]
	path = modules/foreign-regexp
	url = https://github.com/k-talo/foreign-regexp.el.git
[submodule "modules/wanderlust"]
	path = modules/wanderlust
	url = https://github.com/wanderlust/wanderlust.git
[submodule "modules/smart-cursor-color"]
	path = modules/smart-cursor-color
	url = https://github.com/7696122/smart-cursor-color.git
[submodule "modules/w3m"]
	path = modules/w3m
	url = https://github.com/emacsmirror/w3m.git
[submodule "modules/dired-hacks"]
	path = modules/dired-hacks
	url = https://github.com/Fuco1/dired-hacks.git
[submodule "modules/dired-plus"]
	path = modules/dired-plus
	url = https://github.com/emacsmirror/dired-plus.git
[submodule "modules/gtags"]
	path = modules/gtags
	url = https://github.com/voins/gtags.git
[submodule "modules/helm-gtags"]
	path = modules/helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "modules/helm-ls-git"]
	path = modules/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git.git
[submodule "modules/helm-replace-string"]
	path = modules/helm-replace-string
	url = https://github.com/jixiuf/helm-replace-string.git
[submodule "modules/symon"]
	path = modules/symon
	url = https://github.com/zk-phi/symon.git
[submodule "modules/gmail-mode"]
	path = modules/gmail-mode
	url = https://github.com/Bruce-Connor/gmail-mode.git
[submodule "modules/ham-mode"]
	path = modules/ham-mode
	url = https://github.com/Bruce-Connor/ham-mode.git
[submodule "modules/ace-isearch"]
	path = modules/ace-isearch
	url = https://github.com/tam17aki/ace-isearch.git
[submodule "modules/ace-jump-mode"]
	path = modules/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "modules/clang-complete-async"]
	path = modules/clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "modules/swoop"]
	path = modules/swoop
	url = https://github.com/ShingoFukuyama/emacs-swoop.git
[submodule "modules/async"]
	path = modules/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "modules/pcre2el"]
	path = modules/pcre2el
	url = https://github.com/joddie/pcre2el.git
[submodule "modules/bm"]
	path = modules/bm
	url = https://github.com/joodland/bm.git
[submodule "modules/ht"]
	path = modules/ht
	url = https://github.com/Wilfred/ht.el.git
